.idea
.vscode
.cache/
.trae/
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
# logs
logs/
*.log
# CLion
idea/
cmake-build-*/
# VSCode
vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.VSCodeCounter/
.cache/
# CMake
bin/
/build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
# Python
.venv/
__pycache__
upload*

# third_part: ignore all changes except build.sh
third_part/**
!third_part/**/
!third_part/**/build.sh
!third_part/**/build_insert_first_order.txt

# vim
.vim
*.swp
*.swn
*.swo

# proto
proto/*.pb.cc
proto/*.pb.h
