[mysqld]
datadir=/home/lyh/code/test_p/GetTableRow/db_data
port=3307
socket=/home/lyh/code/test_p/GetTableRow/db_data/mysql.sock
pid-file=/home/lyh/code/test_p/GetTableRow/db_data/mysql.pid
bind-address=127.0.0.1

[client]
port=3307
socket=/home/lyh/code/test_p/GetTableRow/db_data/mysql.sock
